@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@300;500;700&display=swap');

table, th, td {
    border: 1px solid black;
  }
  .headingm{
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }
    .imgs img{
      width: 10%;
      height: 10%;
      border-radius: 10%;
      
      
      }
      .imgs img:hover{
        opacity: 0.5;
        }
        .imgs img:active{
          opacity: 0.5;
          }
          .imgs img:focus{
            opacity: 0.5;
            }
            .imgs img:link{
              opacity: 0.5;
              }
              .imgs img:visited{
                opacity: 0.5;
                }
                .social{
                  text-align: center;
                  font-size: 20px;
                  font-weight: bold;
                  color: #0d0d0d;
                  font-family: 'Poppins', sans-serif;
                  }
              
                .social img{
                  width: 20px;
                  height: 20px;
                  display: inline-block;
                  justify-content: center;
                  margin: 5px;
                  border-radius: 10%;
                  }
                  .social img:hover{
                    opacity: 0.5;
                    }
                    .social img:active{
                      opacity: 0.5;
                      }
                      .social img:focus{
                        opacity: 0.5;
                        }
                        .social img:link{
                          opacity: 0.5;
                          }
                          .social img:visited{
                            opacity: 0.5;
                            }
                            


              
                
    
    



    

